:root {
  
  /* Main Settings  */
  --main-background-color: #24305e;

  --text-primary-color: rgb(0, 0, 0);
  --text-secondary-color: rgb(255, 255, 255);

  /* Nav Settings  */
  --nav-link-color: rgb(0, 0, 0);
  --nav-link-hover-color: rgb(87, 87, 87);
  --nav-link-hover-background-color: none;
  --nav-background-color: none;
  --nav-height: 200px;
  --nav-logo-width: 300px;
  --nav-logo-font-size: 16px;

  /* Mobile Nav Settings  */

  --mobile-nav-background-color: rgb(155, 155, 155);
  --mobile-nav-logo-height:150px;
  --mobile-nav-link-color: rgb(65, 65, 65);
  --mobile-nav-link-hover-color: rgb(29, 29, 29);
  --mobile-nav-link-size: 20px;

  /* Card Settings  */
  --card-background-color: #24305e;;
  --card-border-radius: 10px;


  /* Minting Area */
  --minting-box-color: #212121;
  --minting-box-heading-color: white;
  --minting-box-info-box-color: #212121;
  --minting-box-text-color: white;



  /* Minting Button */
  --minting-button-color: linear-gradient(180deg, #008080 20%, #478181 80%);
  --minting-button-text-color: white;

}






